{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<table class="ui celled table">
    <thead>
    <tr>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>terminada</th>
        <th>Accion</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.description }}</td>
        <td>{{ task.createdAt | date }}</td>
        <td>{{ task.done ? 'Si' : 'No' }}</td>
        <td> </td>
    </tr>
    {% endfor %}
        <tbody>
</table>


{% endblock %}


